<h1>Track Page</h1>

<p>Track Name: <%= @track.name %></p>
<p>On Album: <%= @track.album.title %></p>
<p>By: <%= @track.band.name %></p>
<p>Regular or Bonus: <%= @track.bonus_or_regular %></p>
<p>Lyrics: <%= @track.lyrics %></p>
